<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iphone 13 - App</title>
    <script src="https://unpkg.com/vue@3.2.26"></script>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    <div id="app">
        <div class="nav-bar"></div>
        <div class="product-display">
            <div class="product-container">
                <div class="product-image">
                    <img :src="productImage" :alt="productName">
                </div>
                <div class="product-info">
                    <h1>{{ productName }}</h1>
                    <p>{{ productDescription }}</p>
                    <p>{{ productPrice }} €</p>
                    <p v-if="inStock">Quantité : {{ quantity }}</p>
                    <p v-if="quantity > 5">En stock</p>
                    <p v-else-if="quantity <= 5 && quantity > 0">En rupture de stock</p>
                    <p v-else>Plus de stock</p>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/main.js"></script>
</body>
</html>